{"NAME":"Nano Gauges","URL":"http://ksp-avc.cybutek.net/version.php?id=60","DOWNLOAD":"http://spacedock.info/mod/581/NanoGauges","CHANGE_LOG_URL":"","VERSION":{"MAJOR":{MAJOR},"MINOR":{MINOR},"PATCH":{PATCH},"BUILD":{BUILD}},"KSP_VERSION":{"MAJOR":1,"MINOR":4,"PATCH":1}}